.DefectList{
  margin: 1em;
  background-color: #fff;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);

  table{
    border-collapse: collapse;
  }

  th{
    background-color: #2980b9;
  }
  th, td{
    border: solid 1px #660ccc24;
    padding: 1em;
  }
}