@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');

.Navbar{
  background-color: #0ec96f;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto Serif', serif;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
        .search-li {
          display: flex;
          align-items: center;
        }
  li{
    height: 20px;
    padding: 1em;
    height: 2rem;
  }
  a {
    padding: 1em;
    font-weight: 500;
    color: #000;
    text-decoration: inherit;
  }

  a:hover {
    color: #1e29fd;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
}